body{
font-family: "Lucida Console", "Courier New", monospace;
font-size: 18px;
}
header, footer {
  background-color: #7f05b8;
}
.site-title {
  color: grey;
}
#my-image {
  box-shadow: 0px 0px 2px 1px black;
}
ul {
  list-style-type: square;
}
ul li:nth-child(odd) {
  background-color: peachpuff
}
nav ul {
  list-style-type: none; 
}
nav a {
  text-decoration: none; 
  background-color: #7f05b8; 
  border: 1px solid black; 
}
nav a:hover, nav a:focus {
  background-color: goldenrod
}
