body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}
header,footer{
  background-color: lightpink;
}
.site-title{
  color:rgba(2, 177, 137, 0.918)
}
#my-image,#my-image2,#my-image3 {
  box-shadow: 0 0 2px 1px black;
}
.hobbies-list{
  list-style-type: square;
}
.hobbies-list li:nth-child(odd) {
  background-color: blueviolet;
}
nav ul{
  list-style-type: none;
}
nav a{
  text-decoration: none;
  background-color: lightpink;
  border: 1px solid black;
 color:rgb(0, 102, 255);
}
nav a:hover
nav a:focus{
  background-color: darkorange;
}